.header-nav-list {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    padding-top: 16px;
    background: transparent;
}

@media screen and (min-width: 1280px) {
    .header-nav-list {
        padding-top: 24px;
    } 
}

.logo {
    margin-right: 52px;
    
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.3em;
    line-height: calc(38.72 / 36);
    color: #ffffff;
}

@media screen and (min-width: 1024px) {
    .logo {
        margin-right: 207px;
    }
}

@media screen and (min-width: 1280px) {
    .logo {
        margin-right: 135px;
    }
}

.header-list-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

@media screen and (min-width: 1024px) {
    .header-list-item {
        column-gap: 0;
    }
}

.header-contact {
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: calc(19.6 / 16);
    letter-spacing: 0.02em;
    color: var(--btn-act-yellow);
    margin-right: 12px;

}

@media screen and (min-width: 1024px) {
    .header-contact {
        margin-right: 46px;
    }
}

@media screen and (min-width: 1024px) {
    .header-contact-two {
        margin-left: 80px;
    }
}

@media screen and (min-width: 1024px) {
    .header-contact-border {
        height: 40px;
        border: var(--brdr-btn-yel);
        border-radius: 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 14px;
        padding-right: 8px;   
    }
}

.header-list-icon {
    fill: var(--btn-act-yellow);
    margin-right: 26px;
    
}

@media screen and (min-width: 1024px) {
    .header-list-icon {
        margin-right: 10px; 
    }
}

.icon-two {
    margin-right: 0;
}

@media screen and (min-width: 1024px) {
    .icon-two {
        margin-right: 10px;
    }
}

.header-phone {
    display: none;
}

@media screen and (min-width: 1024px) {
    .header-phone {
        display: flex;
        font-family: var(--font-primary);
        font-size: 400;
        font-size: 14px;
        line-height: calc(17.07 / 14);
        letter-spacing: 0.02em;
        color: #ffffff;
    }
}

.phone-two {
    margin-right: 0;
}

@media screen and (min-width: 1280px) {
    .border-two {
        margin-right: 140px;
    }
}

.header-soc-list {
    display: none;
}

@media screen and (min-width: 1280px) {
    .header-soc-list {
        position:absolute;
        top: 40px;
        right:88px;
        z-index: 10;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 23px;
        padding-top: 40px;
        

    }
}

.header-icon {
    fill: var(--btn-act-yellow);
}