.hotel-roomlux.three {
  background-color: #f0ecd6;
}

.hotel-about-text-content {
  text-align: right;
}

.hotel-about-logo.three {
  display: block;
  margin-left: auto;
  width: 202px;
}

.hotel-about-room-description.three {
  margin-left: 83px;
}
