<section class="det-restaurant">
  <div class="container">
    <div class="restaurant-content">
      <p class="rest-logo">MIMIHO</p>
      <h2 class="rest-content-title">Ресторан</h2>
      <p class="rest-content-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="restaurant-wrap">
      <div class="restaurant-slider-item">
        <picture>
          <source
            srcset="
              /src/images/homepage/section2/section2_3-pc.jpg    1x,
              /src/images/homepage/section2/section2_3-pc@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/homepage/section2/section2_3-tablet.jpg    1x,
              /src/images/homepage/section2/section2_3-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/homepage/section2/section2_3-tablet.jpg    1x,
              /src/images/homepage/section2/section2_3-tablet@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/src/images/homepage/section2/section2_3-pc.jpg"
            alt="стейк"
          />
        </picture>
      </div>

      <div class="restaurant-slider-item">
        <picture>
          <source
            srcset="
              /src/images/homepage/section2/section2_2-pc.jpg    1x,
              /src/images/homepage/section2/section2_2-pc@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/homepage/section2/section2_2-tablet.jpg    1x,
              /src/images/homepage/section2/section2_2-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/homepage/section2/section2_2-tablet.jpg    1x,
              /src/images/homepage/section2/section2_2-tablet@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/src/images/homepage/section2/section2_2-pc.jpg"
            alt="стейк"
          />
        </picture>
      </div>

      <div class="restaurant-slider-item">
        <picture>
          <source
            srcset="
              /src/images/homepage/section2/section2_1-pc.jpg    1x,
              /src/images/homepage/section2/section2_1-pc@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /src/images/homepage/section2/section2_1-tablet.jpg    1x,
              /src/images/homepage/section2/section2_1-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /src/images/homepage/section2/section2_1-mob.jpg    1x,
              /src/images/homepage/section2/section2_1-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            src="/src/images/homepage/section2/section2_1-pc.jpg"
            alt="стейк"
          />
        </picture>
      </div>

      <div class="restaurant-btns">
        <button class="det-rest-btn reserve-tabble" type="button">
          Забронювати&nbsp;столик
        </button>
        <a class="det-rest-btn link" href="./rest.html#rest-menu"
          >Переглянути меню</a
        >
      </div>
    </div>

    <div class="buttons">
      <div class="button-left">
        <svg class="button-prev-icon" width="32px" height="32px">
          <use href="../src/images/svg/sprite.svg#icon-left"></use>
        </svg>
      </div>
      <div class="button-right">
        <svg class="button-next-icon" width="32px" height="32px">
          <use href="../src/images/svg/sprite.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
