<section class="det-hotel">
    <div class="container">
        <div class="hotel-content">
            <p class="hotel-logo">MIMIHO</p>
            <h2 class="hotel-content-title">Готель</h2>
            <p class="hotel-content-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>            
        </div>
        <div class="hotel-wrap">

            <div class="hotel-slider-item">
                <picture>
                    <source srcset="/src/images/homepage/section4/section4_1-pc.jpg 1x, /src/images/homepage/section4/section4_1-pc@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                    <source srcset="/src/images/homepage/section4/section4_1-tablet.jpg 1x, /src/images/homepage/section4/section4_1-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                    <source srcset="/src/images/homepage/section4/section4_1-mob.jpg 1x, /src/images/homepage/section4/section4_1-mob@2x.jpg 2x"
                    media="(min-width: 320px)" />

                    <img src="/src/images/homepage/section4/section4_1-mob.jpg" alt="номер">
                </picture>
            </div>

            <div class="hotel-slider-item">
                <picture>
                    <source srcset="/src/images/homepage/section4/section4_2-pc.jpg 1x, /src/images/homepage/section4/section4_2-pc@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                    <source srcset="/src/images/homepage/section4/section4_2-tablet.jpg 1x, /src/images/homepage/section4/section4_2-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                    <source srcset="/src/images/homepage/section4/section4_2-tablet.jpg 1x, /src/images/homepage/section4/section4_2-tablet@2x.jpg 2x"
                    media="(min-width: 320px)" />

                    <img src="/src/images/homepage/section4/section4_2-tablet.jpg" alt="сніданок">
                </picture>
            </div>
            <div class="hotel-slider-item">
                <picture>
                    <source srcset="/src/images/homepage/section4/section4_3-pc.jpg 1x, /src/images/homepage/section4/section4_3-pc@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                    <source srcset="/src/images/homepage/section4/section4_3-tablet.jpg 1x, /src/images/homepage/section4/section4_3-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                    <source srcset="/src/images/homepage/section4/section4_1-tablet.jpg 1x, /src/images/homepage/section4/section4_1-tablet@2x.jpg 2x"
                    media="(min-width: 320px)" />

                    <img src="/src/images/homepage/section4/section4_1-tablet.jpg" alt="гість">
                </picture>
            </div>
            <div class="hotel-btns">
                <button class="det-hotel-btn reserve-room" type="button">Забронювати номер</button>
                <a class="det-hotel-btn link" href="#">Переглянути ціни</a>
            </div>
        </div>
    </div>
</section>