<section class="hero-room" >
    <div class="container hero-box">
        <h2 class="hero-title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="hero-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
            duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
        <div class="hero-list-all">
            <div class="btn-info">
                <svg class="btn-svg" width="24" height="24">
                    <use href="/src/images/svg/sprite.svg#icon-map"></use>
                </svg>
                <a class="btn-link link" href="">Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15</a>
            </div>
            
            <div class="hero-social">
                <ul class="hero-list list">
                    <li>
                        <a class="hero-link" href="">
                            <svg class="hero-item-svg" width="22" height="22">
                                <use href="/src/images/svg/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="hero-link" href="">
                            <svg class="hero-item-svg" width="22" height="22">
                                <use href="/src/images/svg/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="hero-link" href="">
                            <svg class="hero-item-svg" width="22" height="22">
                                <use href="/src/images/svg/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn" type="button">Переглянути ціни</button>
    </div>
</section>