<section class="hero-room">
  <div class="container hero-box">
    <div class="btn-info-top">
      <svg class="btn-svg-top" width="24" height="24">
        <use href="/src/images/svg/sprite.svg#icon-map"></use>
      </svg>
      <a class="btn-link-top link" href=""
        >Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15</a
      >
    </div>
    <div class="hero-box-text">
      <h2 class="hero-title">ДВОМІСНИЙ НОМЕР люкс</h2>
      <p class="hero-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="hero-list-all">
      <div class="btn-info">
        <svg class="btn-svg" width="24" height="24">
          <use href="/src/images/svg/sprite.svg#icon-map"></use>
        </svg>
        <a class="btn-link link" href=""
          >Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a
        >
      </div>
      <div class="hero-social">
        <ul class="hero-list list">
          <li>
            <a class="hero-link" href="">
              <svg class="hero-item-svg" width="22" height="22">
                <use href="/src/images/svg/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="hero-link" href="">
              <svg class="hero-item-svg" width="22" height="22">
                <use href="/src/images/svg/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="hero-link" href="">
              <svg class="hero-item-svg" width="22" height="22">
                <use href="/src/images/svg/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button class="btn" type="button">Переглянути ціни</button>
    </div>
    <!-- Slider main container -->
    <div class="swiper heroroom">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="img room-slider-img"
            srcset="
              ../src/images/room/header-pc.jpg        1280w,
              ../src/images/room/header-pc@2x.jpg     2560w,
              ../src/images/room/header-tablet.jpg    1024w,
              ../src/images/room/header-tablet@2x.jpg 2048w,
              ../src/images/room/header-mob.jpg        414w,
              ../src/images/room/header-mob@2x.jpg     828w
            "
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 320px) 414px, 100vw"
            src="../src/images/room/header-mob.jpg "
            alt="reception"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img room-slider-img"
            srcset="
              ../src/images/slider_room/slide_room1-pc.jpg        1280w,
              ../src/images/slider_room/slide_room1-pc@2x.jpg     2560w,
              ../src/images/slider_room/slide_room1-tablet.jpg    1024w,
              ../src/images/slider_room/slide_room1-tablet@2x.jpg 2048w,
              ../src/images/slider_room/slide_room1-mob.jpg        414w,
              ../src/images/slider_room/slide_room1-mob@2x.jpg     828w
            "
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 320px) 414px, 100vw"
            src="../src/images/slider_room/slide_room1-mob.jpg"
            alt="towel"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img room-slider-img"
            srcset="
              ../src/images/slider_room/slide_room2-pc.jpg        1280w,
              ../src/images/slider_room/slide_room2-pc@2x.jpg     2560w,
              ../src/images/slider_room/slide_room2-tablet.jpg    1024w,
              ../src/images/slider_room/slide_room2-tablet@2x.jpg 2048w,
              ../src/images/slider_room/slide_room2-mob.jpg        414w,
              ../src/images/slider_room/slide_room2-mob@2x.jpg     828w
            "
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 320px) 414px, 100vw"
            src="../src/images/slider_room/slide_room2-mob.jpg"
            alt="towel"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev heroroom">
      <svg class="swiper-button-prev-icon" width="40px" height="40px">
        <use href="../src/images/svg/sprite.svg#icon-left"></use>
      </svg>
    </div>
    <div class="swiper-button-next heroroom">
      <svg class="swiper-button-next-icon" width="40px" height="40px">
        <use href="../src/images/svg/sprite.svg#icon-right"></use>
      </svg>
    </div>
  </div>
</section>
