<section class="section-amnities">
    <div class="container">
        <h2 class="amnities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
        
    <ul class="amn-list list">
        <li class="amn-item">
            <p class="amn-p unical">Amet minim mollit non deserunt ullamco
                est sit aliqua dolor do amet sint. 
                Velit officia consequat duis enim velit mollit.
                 Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
        <li class="amn-item">
            <h3 class="amn-title">ЗАГАЛЬНІ</h3>
            <div class="amn-paragraf">
            <p class="amn-p first ">Amet minim mollit non deserunt ullamco
                 est sit aliqua dolor do amet sint. 
                 Velit officia consequat duis enim velit mollit. 
                 Exercitation veniam consequat sunt nostrud amet.</p>
             <p class="amn-p">Amet minim mollit non deserunt ullamco
                    est sit aliqua dolor do amet sint. 
                    Velit officia consequat duis enim velit mollit. 
                    Exercitation veniam consequat sunt nostrud amet.</p> 
                </div>       
        </li>
        <li class="amn-item">
            <h3 class="amn-title">ВАННА КІМНАТА</h3>
            <div class="amn-paragraf">
            <p class="amn-p first">Amet minim mollit non deserunt ullamco
                est sit aliqua dolor do amet sint. 
                Velit officia consequat duis enim velit mollit. 
                Exercitation veniam consequat sunt nostrud amet.</p>
            <p class="amn-p">Amet minim mollit non deserunt ullamco
                 est sit aliqua dolor do amet sint.
                  Velit officia consequat duis enim velit mollit. 
                  Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
        </li>
        <li class="amn-item">
            <h3 class="amn-title">СПАЛЬНЯ</h3>
            <p class="amn-p">
                Amet minim mollit non deserunt ullamco
                 est sit aliqua dolor do amet sint. 
            </p>
        </li>
        <li class="amn-item">
            <h3 class="amn-title">КУХНЯ</h3>
           <div class="amn-paragraf"> 
            <p class="amn-p first">
                Amet minim mollit non deserunt ullamco
                 est sit aliqua dolor do amet sint. 
            </p>
            <p class="amn-p">
                Amet minim mollit non deserunt ullamco
                 est sit aliqua dolor do amet sint.
            </p>
        </div>
        </li>
        <li class="amn-item">
            <h3 class="amn-title">МЕДІА</h3>
            <p class="amn-p">
                Amet minim mollit non deserunt ullamco
                est sit aliqua dolor do amet sint.
               Velit officia consequat duis enim velit mollit. 
            </p>
        </li>
    </ul>
    
    <button type="button" class="open-booking">
        ОФОРМИТИ БРОНЮВАННЯ
    </button>

    <a href="./home-page" class="amn-link">Повернутися до перегляду номерів
        <svg class="arrow"> 
            <use href="./images/svg/sprite.svg#icon-arrow-right" width="23" height="13"></use>
          </svg>
    </a>

    </div>
</section>