<section class="hotel-roomlux container">

        <div class="hotel-room-part-one">
            <div class="hotel-about-text-content">
                <p class="hotel-logo-slogan">Amet minim mollit non</p>
                <p class="hotel-about-logo">MIMIHO</p>
                <div class="hotel-about-room-block">
                    <h2 class="hotel-room-title">ДВОМІСНИЙ НОМЕР люкс</h2>
                    <p class="hotel-about-room-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                        do
                        amet
                        sint. Velit
                        officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

            <img class="hotel-about-room-img img"
                srcset=" 
                ./images/hotel/section/section1_1-mob.jpg       244w,
                ./images/hotel/section/section1_1-tablet.jpg    400w,        
                ./images/hotel/section/section1_1-pc.jpg        460w,
                ./images/hotel/section/section1_1-mob@2x.jpg    488w,
                ./images/hotel/section/section1_1-tablet@2x.jpg 800w,
                ./images/hotel/section/section1_1-pc@2x.jpg     920w"
                sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 320px) 244px, 100vw"
                src="./images/hotel/section/section1_1-mob.jpg" 
                alt="Double luxury room" 
                loading="lazy">
        </div>

        <div class="hotel-room-part-two">
            <div class="hotel-about-slider">
                <div class="hotel-about-slider-module">
                    <div class="hotel-about-room-slider">
                        <img class="hotel-about-room-slide img"
                            srcset="
                            ./images/hotel/section/section1_2-mob.jpg        194w,
                            ./images/hotel/section/section1_2-tablet.jpg     194w,
                            ./images/hotel/section/section1_2-pc.jpg         254w,
                            ./images/hotel/section/section1_2-mob@2x.jpg     388w,
                            ./images/hotel/section/section1_2-tablet@2x.jpg  388w,
                            ./images/hotel/section/section1_2-pc@2x.jpg      508w"
                            sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
                            src="./images/hotel/section/section1_2-mob.jpg" 
                            alt="Roomlux photo 1" 
                            loading="lazy">
                        <img class="hotel-about-room-slide img"
                            srcset="
                            ./images/hotel/section/section1_3-mob.jpg        194w,
                            ./images/hotel/section/section1_3-tablet.jpg     194w,
                            ./images/hotel/section/section1_3-pc.jpg         254w,
                            ./images/hotel/section/section1_3-mob@2x.jpg     388w,
                            ./images/hotel/section/section1_3-tablet@2x.jpg  388w,
                            ./images/hotel/section/section1_3-pc@2x.jpg      508w"
                            sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
                            src="./images/hotel/section/section1_3-mob.jpg" 
                            alt="Roomlux photo 2" 
                            loading="lazy">
                    </div>

                    <div class="slider-control">
                        <div class="slider-btn-prev">
                            <svg class="slider-btn-icon">
                                <use href="./images/svg/sprite.svg#icon-left"></use>
                            </svg>
                        </div>
                        <div class="slider-button-next">
                            <svg class="slider-btn-icon">
                                <use href="./images/svg/sprite.svg#icon-right"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hotel-about-buttons">
                <ul class="hotel-about-buttons-list list">
                    <li class="hotel-about-list-item"><a class="hotel-about-link link" href="./room.html">Детальніше</a>
                    </li>
                    <li class="hotel-about-list-item"><button class="hotel-about-btn" type="button"
                            data-modal-open>Переглянути
                            ціни</button></li>
                </ul>
            </div>
        </div>

</section>