<section class="about-kitchen">
    <div class="container">
        <h2 class="visually-hidden">About our rest</h2>
        <p class="about-kitchen-uppertitle">Amet minim mollit non</p>
        <a class="logo link" href="./index.html">MIMIHO</a>
        <div class="about-kitchen-top">
            <p class="about-kitchen-top-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <img class="about-kitchen-top-photo img" 
                srcset="
                ./images/restaurant/section1/section1_1-pc.jpg           460w,
                ./images/restaurant/section1/section1_1-pc@2x.jpg        920w,
                ./images/restaurant/section1/section1_1-tablet.jpg       400w,
                ./images/restaurant/section1/section1_1-tablet@2x.jpg    800w,
                ./images/restaurant/section1/section1_1-mob.jpg          244w,
                ./images/restaurant/section1/section1_1-mob@2x.jpg       488w"
                sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 320px) 244px, 100vw"
                src="./images/restaurant/section1/section1_1-mob.jpg" 
                alt="kitchen" 
                loading="lazy">
        </div>
        <div class="about-kitchen-bottom">
            <p class="about-kitchen-bottom-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <img class="about-kitchen-bottom-photo img" 
                srcset="
                ./images/restaurant/section1/section1_2-pc.jpg        460w,
                ./images/restaurant/section1/section1_2-pc@2x.jpg     920w,
                ./images/restaurant/section1/section1_2-tablet.jpg    350w,
                ./images/restaurant/section1/section1_2-tablet@2x.jpg 700w,
                ./images/restaurant/section1/section1_2-mob.jpg       200w,
                ./images/restaurant/section1/section1_2-mob@2x.jpg    400w"
                sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, (min-width: 320px) 200px, 100vw"
                src="./images/restaurant/section1/section1_2-mob.jpg" 
                alt="room" 
                loading="lazy">
        </div>
        <div class="about-kitchen-slider">
            <img class="about-kitchen-slider-photo img" 
                srcset="
                ./images/restaurant/section1/section1_3-pc.jpg        254w,
                ./images/restaurant/section1/section1_3-pc@2x.jpg     508w,
                ./images/restaurant/section1/section1_3-tablet.jpg    194w,
                ./images/restaurant/section1/section1_3-tablet@2x.jpg 388w,
                ./images/restaurant/section1/section1_3-mob.jpg       245w,
                ./images/restaurant/section1/section1_3-mob@2x.jpg    490w"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
                src="./images/restaurant/section1/section1_3-mob.jpg"
                alt="table"
                loading="lazy">

            <img class="about-kitchen-slider-photo img" 
                srcset="
                ./images/restaurant/section1/section1_4-pc.jpg        254w,
                ./images/restaurant/section1/section1_4-pc@2x.jpg     508w,
                ./images/restaurant/section1/section1_4-tablet.jpg    194w,
                ./images/restaurant/section1/section1_4-tablet@2x.jpg 388w"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 100vw"
                src="./images/restaurant/section1/section1_4-tablet.jpg"
                alt="tables"
                loading="lazy">
        </div>
        <div class="arrows">
            <svg class="about-kitchen-svg-left" width="29.91px" height="16.83px">
                <use href="./images/svg/sprite.svg#icon-left"></use>
            </svg>
            <svg class="about-kitchen-svg-right" width="29.91px" height="16.83px">
                <use href="./images/svg/sprite.svg#icon-right"></use>
            </svg>
        </div>
    </div>
</section>